<div class="start-managing-apps-wrapper">
  <div class="start-managing-apps">
    <div class="start-managing-apps__content">
      <div class="start-managing-apps__title">
        Start Managing your apps business, more faster
      </div>
      <div class="start-managing-apps__description">
        Objectively deliver professional value with diverse web-readiness. Collaboratively transition wireless customer service without
        goal-oriented catalysts for change. Collaboratively.
      </div>
      <app-learn-more-button></app-learn-more-button>
    </div>
    <img class="start-managing-apps__macbook-img" src="../../../../assets/img/macbook.png" alt="macbook" />
  </div>
</div>
