@import "../../../../assets/css/variables";

.start-managing-apps-wrapper {
  width: 100%;
  height: 399px;
  margin-top: 30px;
  padding: 0 130px;
  background: $background-blue;
  .start-managing-apps {
    position: relative;
    .start-managing-apps__macbook-img {
      position: absolute;
      top: -28px;
      right: 0;
    }
    .start-managing-apps__content {
      padding-top: 76px;
      width: 580px;
      .start-managing-apps__title {
        margin-bottom: 16px;
        @include textSettings($font-size: 32px, $font-weight: bold, $line-height: 39px);
      }
      .start-managing-apps__description {
        @include textSettings($font-size: 16px, $line-height: 23px);
        margin-bottom: 24px;
      }
    }
  }
}
