@import "../../../../assets/css/variables";

.contact-us-button {
  cursor: pointer;
  border: none;
  background: none;
  @include textSettings($font-weight: bold, $color: $light-blue);
  &:focus {
    outline: none;
  }
}
