@import "../../../assets/css/variables";

.main-bottom {
  .main-bottom__content {
    width: 100%;
    height: 100%;
    background-size: contain;
    background-image: url(../../../assets/img/Main-bottom-background.png);
    background-repeat: no-repeat;
    background-position: right;
    .main-bottom__contact-us {
      text-align: center;
      @include textSettings($color: $grey);
    }
  }

  .main-bottom__bottom-content {
    margin-top: 48px;
    display: flex;
    flex-direction: column;
    background-image: url(../../../assets/img/Main-footer-background.png);
    background-size: cover;
    background-repeat: no-repeat;
    .main-bottom__footer {
      margin-bottom: 16px;
    }
  }
}
