<div class="main-bottom">
  <div class="main-bottom__content">
    <app-pricing-and-packages></app-pricing-and-packages>
    <app-tariffs></app-tariffs>
    <div class="main-bottom__contact-us">
      If you need custom services or Need more?
      <app-contact-us-button></app-contact-us-button>
    </div>
  </div>
  <div class="main-bottom__bottom-content">
    <app-registration></app-registration>
    <app-footer class="main-bottom__footer"></app-footer>
  </div>
</div>
