<div class="learn-more-about-our-work-wrapper">
  <div class="learn-more-about-our-work">
    <div class="learn-more-about-our-work__title">
      <p>
        Why
        <span class="learn-more-about-our-work__bold">
          small business owners love
        </span>
        AppCo?
      </p>
    </div>
    <div class="learn-more-about-our-work__description">
      Our design projects are fresh and simple and will benefit your business greatly. Learn more about our work!
    </div>
  </div>
  <app-info-cards></app-info-cards>
</div>
