@import "../../../../assets/css/variables";

.learn-more-about-our-work-wrapper {
  padding: 0 130px 81px;
  .learn-more-about-our-work {
    display: flex;
    align-items: center;
    flex-direction: column;

    .learn-more-about-our-work__title {
      max-width: 540px;
      padding: 0 20px;
      margin-bottom: 24px;
      text-align: center;
      @include textSettings(32px, $line-height: 39px, $color: $black);

      p {
        .learn-more-about-our-work__bold {
          font-weight: bold;
        }
      }
    }

    .learn-more-about-our-work__description {
      text-align: center;
      max-width: 760px;
      padding: 0 10px;
      margin-bottom: 40px;
      @include textSettings($color: $grey);
    }
  }
}
