<div class="main-top-wrapper">
  <div class="main-top">
    <header>
      <app-logo></app-logo>
    </header>
    <div class="main-top__heading">
      <h1 class="main-top__heading-title">
        <span class="main-top__bold">Brainstorming</span>
        for desired perfect Usability
      </h1>
      <p class="main-top__heading-description">
        Our design projects are fresh and simple and will benefit your business greatly. Learn more about our work!
      </p>
      <app-view-status-button></app-view-status-button>
    </div>
  </div>
  <img class="main-top-iphone-img" src="../../../assets/img/iPhoneX.png" alt="iphone" />
</div>
