@import "../../../assets/css/variables";

.main-top-wrapper {
  display: flex;
  width: 100%;
  height: 655px;
  background-image: url(../../../assets/img/Main-top-background.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom;
  padding: 24px 130px 0;
  .main-top {
    width: 1440px;
    .main-top__heading {
      display: flex;
      flex-direction: column;
      width: 586px;
      margin-top: 48px;
      .main-top__heading-title {
        @include textSettings(48px, $line-height: 59px);
        margin-bottom: 24px;
        .main-top__bold {
          font-weight: bold;
        }
      }
      .main-top__heading-description {
        max-width: 580px;
        @include textSettings();
        margin-bottom: 32px;
      }
    }
  }
  .main-top-iphone-img {
    margin-top: 48px;
    margin-right: 100px;
  }
}
