$light-blue: #3a80ba;
$dark-blue: #1c3b55;
$black: #1a1a1a;
$grey: #7e7e7e;
$border-grey: #f1f1f1;
$white: #ffffff;
$shadow: rgba(0, 0, 0, 0.16);
$background-blue: linear-gradient(93.19deg, #255d8b 2.29%, #3a80ba 96.79%);

@mixin textSettings($font-size: 20px, $font-weight: normal, $line-height: 28px, $color: $white) {
  font-size: $font-size;
  font-weight: $font-weight;
  line-height: $line-height;
  color: $color;
}
