@import "../../../../../assets/css/variables";

.purchase-now-button {
  width: 220px;
  height: 56px;
  margin-top: 24px;
  background-color: $light-blue;
  @include textSettings(16px, $line-height: 23px);
}
