@import "../../../../assets/css/variables";
.pricing-and-packages {
  margin-top: 80px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  .pricing-and-packages__title {
    max-width: 580px;
    margin-bottom: 24px;
    @include textSettings(32px, $line-height: 39px, $color: $black);
    .pricing-and-packages__bold {
      font-weight: bold;
    }
  }
  .pricing-and-packages__description {
    max-width: 664px;
    @include textSettings($color: $grey);
  }
}
