<div class="pricing-and-packages">
  <div class="pricing-and-packages__title">
    <span class="pricing-and-packages__bold">Afforadble Pricing and Packages</span>
    choose your best one
  </div>
  <div class="pricing-and-packages__description">
    Monotonectally grow strategic process improvements vis-a-vis integrated resources.
  </div>
</div>
