@import "../../../../../assets/css/variables";

.info-cards {
  display: flex;
  justify-content: center;
  margin: 0 0 20px 0;
  .info-cards__card-wrapper {
    padding: 0 20px 0 0;
    &:last-child {
      padding-right: 0;
    }
    .info-cards__card {
      display: flex;
      width: 100%;
      flex-direction: column;
      align-items: center;
      min-height: 275px;
      padding: 40px 0 48px;
      background-color: $white;
      box-shadow: 0 4px 16px $shadow;
      border-radius: 32px;

      img {
        width: 106px;
        height: 96px;
        margin-bottom: 40px;
      }

      .info-cards__card-title {
        @include textSettings(24px, $font-weight: bold, $line-height: 29px, $color: $black);
        margin-bottom: 16px;
      }

      .info-cards__card-content {
        text-align: center;
        max-width: 296px;
        padding: 0 10px;
        @include textSettings(16px, $line-height: 23px, $color: $grey);
      }
    }
  }
}
