<div class="info-cards row">
  <div class="info-cards__card-wrapper col-4">
    <div class="info-cards__card">
      <img src="../../../../../assets/img/Clean-design-icon.png" alt="Clean Design" />
      <div class="info-cards__card-title">Clean Design</div>
      <div class="info-cards__card-content">Increase sales by showing true dynamics of your website.</div>
    </div>
  </div>
  <div class="info-cards__card-wrapper col-4">
    <div class="info-cards__card ">
      <img src="../../../../../assets/img/Secure-data-icon.png" alt="Secure Data" />
      <div class="info-cards__card-title">Secure Data</div>
      <div class="info-cards__card-content">Build your online store’s trust using Social Proof & Urgency.</div>
    </div>
  </div>
  <div class="info-cards__card-wrapper col-4">
    <div class="info-cards__card">
      <img src="../../../../../assets/img/Retina-ready-icon.png" alt="Retina Ready" />
      <div class="info-cards__card-title">Retina Ready</div>
      <div class="info-cards__card-content">Realize importance of social proof in customer’s purchase decision.</div>
    </div>
  </div>
</div>
