<form class="registration">
  <div class="registration__input-form">
    <label>
      <input class="registration-form__input" type="email" placeholder="Enter your email" />
    </label>
    <button class="registration-form__subscribe-button" mat-flat-button>Subscribe</button>
  </div>
</form>
