@import "../../../../assets/css/variables";

.registration {
  display: flex;
  justify-content: center;
  margin-bottom: 32px;
  .registration__input-form {
    position: relative;
    .registration-form__input {
      width: 580px;
      &:focus {
        outline: none;
      }
      padding: 19px 195px 19px 19px;
      background-color: $white;
      border: 1px solid $border-grey;
      box-sizing: border-box;
      border-radius: 10px;
      @include textSettings(16px, $line-height: 26px, $color: $grey);
    }

    .registration-form__subscribe-button {
      position: absolute;
      width: 176px;
      height: 56px;
      top: 4px;
      right: 4px;
      background-color: $light-blue;
      @include textSettings(16px, $line-height: 23px, $color: $white);
    }
  }
}
