@import "../node_modules/@angular/material/prebuilt-themes/deeppurple-amber.css";
@import "~@angular/material/theming";

@font-face {
  font-family: Montserrat;
  src: url("assets/fonts/Montserrat-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "Montserrat";
  src: url("assets/fonts/Montserrat-Bold.ttf") format("truetype");
  font-weight: bold;
}

$montserrat: mat-typography-config(
  $font-family: "Montserrat",
);

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Montserrat, "Montserrat", sans-serif;
}

@include angular-material-typography($montserrat);
