@import "../../../assets/css/variables";

.footer {
  width: 100%;
  height: 57px;
  padding: 0 130px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  .footer__logo {
    @include textSettings(24px, $line-height: 29px);
  }
  .footer__right-reserved {
    @include textSettings(16px, $line-height: 23px);
  }
  .footer__copyrights {
    @include textSettings(16px, $line-height: 23px);
  }
}
