<div class="footer">
  <div class="footer__logo">AppCo</div>
  <div class="footer__right-reserved">All rights reserved by ThemeTags</div>
  <div class="footer__copyrights">Copyrights © 2019.</div>
</div>
