<div class="traffics-wrapper">
  <div class="traffics row">
    <div class="traffics__card-wrapper col-4">
      <div class="traffics__card">
        <div class="traffics__title">Basic</div>
        <img class="traffics__img" src="../../../../assets/img/traffic-basic.png" alt="basic" />
        <div class="traffics__cost">$29</div>
        <div class="traffics__description">
          Push Notifications Data Transfer SQL Database Search & SEO Analytics 24/7 Phone Support 2 months technical support 2+ profitable
          keyword
        </div>
        <app-purchase-now-button></app-purchase-now-button>
      </div>
    </div>
    <div class="traffics__card-wrapper col-4">
      <div class="traffics__card">
        <div class="traffics__title">Standard</div>
        <img class="traffics__img" src="../../../../assets/img/traffic-standart.png" alt="standart" />
        <div class="traffics__cost">$149</div>
        <div class="traffics__description">
          Push Notifications Data Transfer SQL Database Search & SEO Analytics 24/7 Phone Support 2 months technical support 2+ profitable
          keyword
        </div>
        <app-purchase-now-button></app-purchase-now-button>
      </div>
    </div>
    <div class="traffics__card-wrapper col-4">
      <div class="traffics__card">
        <div class="traffics__title">Unlimited</div>
        <img class="traffics__img" src="../../../../assets/img/traffic-unlimited.png" alt="unlimited" />
        <div class="traffics__cost">$39</div>
        <div class="traffics__description">
          Push Notifications Data Transfer SQL Database Search & SEO Analytics 24/7 Phone Support 2 months technical support 2+ profitable
          keyword
        </div>
        <app-purchase-now-button></app-purchase-now-button>
      </div>
    </div>
  </div>
</div>
