@import "../../../../assets/css/variables";

.traffics-wrapper {
  .traffics {
    padding: 0 130px;
    margin: 32px 0;
    .traffics__card-wrapper {
      padding: 0 20px 0 0;
      &:last-child {
        padding: 0;
      }
      .traffics__card {
        cursor: pointer;
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: $white;
        border: 2px solid $border-grey;
        box-sizing: border-box;
        border-radius: 32px;
        padding: 32px 0 40px;
        &:hover {
          box-shadow: 0 4px 16px $shadow;
          transition: 300ms;
          .traffics__cost {
            @include textSettings(56px, $font-weight: bold, $color: $light-blue);
          }
          .traffics__description {
            margin-top: 42px;
          }
        }
        .traffics__title {
          margin-bottom: 19px;
          @include textSettings(24px, $font-weight: bold, $line-height: 29px, $color: $black);
        }
        .traffics__img {
          margin-bottom: 16px;
        }
        .traffics__cost {
          display: flex;
          flex-direction: column;
          position: relative;
          align-items: center;
          @include textSettings(48px, $font-weight: bold, $color: $black);
          &::after {
            position: absolute;
            top: 24px;
            content: url(../../../../assets/img/traffic-line.png);
          }
        }
        .traffics__description {
          text-align: center;
          max-width: 222px;
          margin-top: 48px;
          @include textSettings(16px, $line-height: 26px, $color: $grey);
        }
      }
    }
  }
}
